html,
body {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: $text;
	display: flex;
	flex-direction: column;
}




.main {
	flex-grow: 1;
}



.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;

}

.container-pink {
	background-color: #fdddcf;

}

.container-fluid.container-footer {
	background-color: #1E212C;

}

.container-grey {
	background-color: #F4F5F6;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}


.btn {
	background: $accent;
	color: #fff;
	font-size: 16px;
	line-height: 52px;
	border-radius: 4px;
	padding: 0px 40px;
	font-weight: 700;
	border: 1px solid transparent;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.03);
		box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
	}
}

.btn.btn-white {
	background: transparent;
	color: $accent;
	border: 1px solid #FF3F3A;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.03);
		background-color: #FF3F3A;
		color: #fff;
		box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
	}
}


.pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	&__list {
		display: flex;
		margin: 0 23px;
	}

	&__item+.pagination__item {
		margin-left: 20px;
	}

	&__link {
		font-weight: 700;

		&:hover {
			color: $accent;
		}

	}

	&__link--active {
		color: $accent;
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			svg {
				stroke: $accent;
			}
		}
	}

	&__arrow--hide {
		display: none;
	}

}


//subscribe box
.subscribe-box {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 104px 60px;
		align-items: center;
	}

	&__image {
		object-fit: cover;
	}

	&__content {
		max-width: 600px;
		width: 100%;
		margin-left: 35px;
	}

	&__title {
		font-size: 32px;
		line-height: 42px;
		font-weight: 900;
		color: $title;
		margin-bottom: 48px;
	}

	&__form {
		label {
			display: flex;
			align-items: center;
		}
	}

	&__line {
		margin-bottom: 24px;
		input {
			padding: 13px 16px;
			max-width: 422px;
			width: 100%;
			border: 1px solid #D7DADD;
			border-radius: 4px;
			margin-right: 22px;
		}
	}
	&__checkbox {
		margin-right: 15px;
	}
	.jq-checkbox {
		border: none;
		border-radius: 4px;
	}
	.jq-checkbox.checked {
		background: $accent;
		color: #fff;
	}
}