@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    &__inner {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-basis: 100%;
        padding-top: 20px;
        padding-bottom: 74px;
    }

    &__logo-img {
        max-width: 130px;
        width: 100%;
        margin-right: 60px;
        object-fit: cover;
    }

    &__menu {

        flex-basis: 100%;

    }

    &__menu-list {
        display: flex;

        li+li {
            margin-left: 40px;
        }

        a {
            font-weight: 700;
            color: $text;
            text-transform: capitalize;
            transition: all .3s;

            &:hover {
                color: $accent;
            }
        }
    }

    &__action-box {
        flex-basis: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: center;

        a {
            padding-left: 27px;
            font-size: 16px;
            font-weight: 700;
        }

    }

    &__btn-consultation {
        margin-right: 37px;


    }

    &__btn-login {
        position: relative;
        color: $text;
        transition: all .3s;

        &:hover {
            color: $accent;
        }

    }

    &__user-icon {
        position: absolute;
        top: 3px;
        left: 0;

    }
}

.footer {
    &__inner {
        padding: 80px 0 60px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 100%;
        color: #fff;
    }

    &__info-box {
        margin-bottom: 40px;
    }

    &__logo-img {
        max-width: 130px;
        width: 100%;
        margin-bottom: 24px;
        object-fit: cover;
    }

    &__text {
        width: 280px;
        font-size: 12px;
        line-height: 18px;
        opacity: .6;
        color: #fff;
        margin-right: 80px;
        margin-bottom: 40px;
    }

    &__social-list {
        display: flex;

        li {
            opacity: .6;
        }

        li:hover {
            opacity: 1;
        }

        li+li {
            margin-left: 23px;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        // flex-basis: 100%;
        margin-right: 80px;
        margin-bottom: 40px;

        a {
            color: #fff;
            opacity: .6;
        }

        a:hover {
            opacity: 1;
        }

        li+li {
            margin-top: 8px;
        }
    }

    &__menu-box {
        width: 120px;
        margin: 0 10px;
    }

    &__menu-title {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }

    &__form {
        max-width: 286px;
        width: 100%;
        position: relative;
    }

    &__form-title {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 24px;
    }

    &__form-input {

        width: 100%;
        padding: 9px 12px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        color: #787a80;
        border: none;
        margin-bottom: 12px;

        &:focus {
            background-color: #fff;
        }


    }

    &__arrow-img {
        position: absolute;
        width: 12px;
        height: 7px;
        top: 70px;
        right: 15px;
        object-fit: cover;
    }

    &__form-descr {
        font-size: 10px;
        line-height: 15px;
    }

    &__copy-text {
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        padding: 20px 0;
        background-color: #292c37;
        opacity: .5;
        text-align: center;

    }
}


.subscribe {

    &__inner {
        padding: 120px 0 180px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        max-width: 810px;
        font-size: 46px;
        line-height: 62px;
        font-weight: 900;
        text-align: center;
        color: $title;
        margin-bottom: 60px;
    }

    &__input {
        width: 422px;
        margin-right: 24px;
        padding: 14px 16px;
        outline-color: #FF3F3A;
        border: 1px solid #D7DADD;
    }

    &__btn {
        padding: 13px 40px;

    }

    &-left__img,
    &-right__img {
        position: absolute;
        bottom: 0;
        object-fit: cover;
    }

    &-left__img {
        left: 0;
    }

    &-right__img {
        right: 0;
    }
}

.hero {
    &__inner {
        padding: 50px 0 155px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    &__video-box {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        transition: all .8s;

        &:hover {
            background-color: rgba(255, 63, 58, .12)
        }
    }

    &__video-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;
        color: $title;

        img {
            width: 52px;
            height: 52px;
            object-fit: cover;
        }
    }

    &__title {
        max-width: 490px;
        width: 100%;
        padding: 16px;
        font-size: 64px;
        line-height: 72px;
        color: $title;
        font-weight: 900;
        margin-bottom: 44px;
    }

    &__btn-box {
        display: flex;
        justify-content: start;
    }

    &__btn {
        transition: all .3s ease-in-out;
        width: 100%;
        max-width: 201px;

        &:hover {
            transform: scale(1.04);
        }

        &+.btn {
            margin-left: 15px;
        }

        &.btn-white {
            max-width: 148px;
            width: 100%;
        }

    }

    &__image {
        object-fit: cover;
        max-width: 551px;
        width: 100%;
    }

    &__info {
        padding-bottom: 80px;
    }

    &__info-list {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;

        li {
            display: flex;
            align-items: center;
            position: relative;
        }

        li+li {
            padding-left: 60px;
            margin-left: 60px;

            &::before {
                content: "";
                position: absolute;
                left: -4px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $accent;
            }
        }
    }

    &__list-number {
        @extend %title;
        margin-right: 12px;
    }

    &__list-text {
        color: $text;
        width: 100%;
        line-height: 16px;
        font-size: 16px;
        flex-basis: 100%;
        text-align: center;
    }
}

.about {
    &__inner {
        padding: 180px 0;
        display: flex;
        justify-content: space-between;
    }

    &__info-box {
        margin-left: 135px;
    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;
        margin-bottom: 40px;
    }

    &__list {
        width: 380px;

        li {
            padding-left: 32px;
            margin-bottom: 12px;
            position: relative;
        }

        li:before {
            content: "";
            position: absolute;
            background-image: url(../images/about-icon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 15px;
            height: 15px;
            left: 0;
            top: 5px;


        }
    }

    &__btn {
        max-width: 161px;
        width: 100%;
        display: flex;
        padding: 0 32px;
        font-size: 14px;
        line-height: 44px;
        letter-spacing: .5;
    }

}


.courses {
    &__inner {
        padding-bottom: 180px;
    }

    &__head-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        position: relative;
    }

    &__title-box {
        max-width: 400px;
        width: 100%;
    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;

    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__item {
        max-width: 600px;
        height: 214px;
        width: 100%;
        display: flex;
        border: 1px solid #E5E8ED;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        }
    }

    &__item-box {
        padding: 33px;

        a {
            display: block;
        }
    }

    &__item-spec {
        max-width: 112px;
        width: 100%;
        font-size: 14px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    &__item-spec--green {
        background-color: #03cea4;
    }

    &__item-spec--blue {
        background-color: #5a87fc;
    }

    &__item-spec--orange {
        background-color: #f3982f;
    }

    &__item-spec--rose {
        background-color: #f13571;
    }

    &__item-course {
        max-width: 322px;
        width: 100%;
        @extend %title-sml;
        margin-bottom: 20px;
    }

    &__item-info {
        display: flex;
        font-size: 18px;
        line-height: 27px;

    }

    &__author {
        color: #787A80;
    }

    &__price {
        margin-right: 6px;
        color: $accent;
        font-weight: 700;
    }

    &__list {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(470px, 2fr));
        gap: 30px;
    }
}


.benefits {
    &__inner {
        display: flex;
        flex-direction: column;
        padding-bottom: 140px;
        // justify-content: center;
        // align-items: center;
        // margin: 0 auto;
        // text-align: center;
    }

    &__title-box {
        margin: 0 auto;
        text-align: center;
        max-width: 405px;
        width: 100%;
        margin-bottom: 70px;

    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;
    }

    &__tab {
        margin-bottom: 90px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    &__tab-item {
        padding: 10px 71px;
        flex-basis: 100%;
        color: #9A9CA5;
        font-weight: 700;
        border: 1px solid transparent;
        transition: all .2s;
        position: relative;

        &+.benefits__tab-item {
            margin-left: 4px;
        }

        &.benefits__tab-item--active {
            border: 1px solid $accent;
            border-radius: 4px;
            color: $accent;
            box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

            svg {
                stroke: #FF3F3A;

            }
        }

        svg {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 44px;
            top: 14px;

        }

        &:hover {
            border: 1px solid $accent;
            border-radius: 4px;
            color: $accent;
            box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

            svg {
                stroke: #FF3F3A;

            }
        }

    }


    &__content-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;

        &.benefits__content-item--active {
            display: flex;
        }
    }

    &__content-info {
        max-width: 495px;
        width: 100%;
    }

    &__content-title {
        font-size: 32px;
        line-height: 42px;
        font-weight: 900;
        color: $title;
        margin-bottom: 24px;
    }

    &__content-text {
        margin-bottom: 15px;
    }

    &__image {
        object-fit: cover;
    }

}


.events {
    &__inner {
        padding: 80px 0;
    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;
    }

    &__title-box {
        margin-bottom: 60px;
    }

    &__content {
        margin-bottom: 60px;
    }

    &__content-item {
        background-color: #fff;
        display: flex;
        padding: 32px 40px;
        align-items: center;
        margin-bottom: 24px;
        transition: all .3s;
        border-radius: 4px;
        position: relative;

        &:hover {
            box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
            transform: scale(1.02)
        }
    }

    &-item__month {
        @extend %title-sml;
    }

    &-item__time {
        color: #787A80;

    }

    &-item__day {
        font-size: 48px;
        line-height: 62px;
        letter-spacing: 1px;
        color: #FF3F3A;
        font-weight: 900;
        margin-right: 20px;
    }

    &-item__info {
        padding: 0 40px;
        max-width: 757px;
        width: 100%;
    }

    &-item__link {
        @extend %title-sml;
    }

    &-item__descr {
        color: #787A80;
    }

    &__btn {
        display: flex;

    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bottom-text {
        font-size: 28px;
        line-height: 42px;
        font-weight: 700;
        color: $title;
        margin-right: 40px;
    }

    &__bottom-btn {
        width: 215px;
    }
}


.expertise {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
        position: relative;

        &.expertise__courses-page {
            .expertise__image-box {
                position: static;
            }
        }
    }

    &__suptitle {
        @extend %title-sup;
        text-align: left;
    }

    &__info-box {
        max-width: 392px;
        width: 100%;
    }

    &__title {
        @extend %title;
        text-align: left;
        margin-bottom: 48px;
    }

    &__text {
        margin-bottom: 8px;
    }

    &__partners-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 96px;
    }

    &__image-box {
        position: absolute;
        right: 0;
        bottom: -140px;

        img {
            transition: all .3s ease-in-out;
            object-fit: cover;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}


.team {
    &__inner {
        padding: 166px 0 180px 0;
    }

    &__title-box {
        margin-bottom: 60px;
    }

    &__suptitle {
        text-align: left;
        @extend %title-sup;
    }

    &__title {
        text-align: left;
        @extend %title;
    }

    &__slider {
        display: flex;
        justify-content: space-between;
    }

    &__slider-item {
        max-width: 285px;
        width: 100%;
        text-align: center;
        transition: all .5s ease-in-out;
        margin: 0px 15px 10px 15px;

        &:hover {
            .team__slider-imgbox:after {
                display: block;

            }

            .team__slider-links {
                display: block;
            }
        }
    }

    &__slider-imgbox {
        position: relative;
        background-color: #FFCF2D;
        margin-bottom: 16px;
        overflow: hidden;
        transition: all .5s ease-in-out;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            display: none;
            background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
        }


    }

    &__slider-img {
        border-radius: 4px;
        object-fit: cover;

    }

    &__slider-links {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        display: none;


    }

    &__icon {
        opacity: .6;

        &:hover {
            opacity: 1;
        }

        &+.team__icon {
            margin-left: 19px;
        }
    }

    &__slider-name {
        @extend %title-sml;
        margin-bottom: 4px;
    }

    &__slider-position {
        color: #787A80;
    }

    .slick-arrow {
        position: absolute;
        top: -80px;
        width: 48px;
        height: 48px;
        fill: $title;
        stroke: $title;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .slick-arrow:hover {
        fill: #fff;
        stroke: #fff;
        background-color: $accent;
        width: 48px;
        height: 48px;
    }

    .left-arrow {
        right: 70px;
    }

    .right-arrow {
        right: 10px;
    }

}


.testimonials {
    &__inner {
        display: flex;
        flex-direction: column;
        padding-bottom: 160px;

        &.testimonials__courses-page {
            padding: 80px 0 100px 0;
        }

    }

    &__title-box {
        max-width: 500px;
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;
        margin-bottom: 60px;
    }

    &__slider {
        margin: 0 auto;
        max-width: 1020px;
        width: 100%;

    }

    &__content-box {
        background-color: #fff;
        padding: 64px 105px 64px 165px;
        position: relative;
        margin-bottom: 60px;
    }

    &__content-text {
        font-size: 20px;
        margin-bottom: 24px;
    }

    &__author-box {
        padding-left: 90px;
        position: relative;
    }

    &__author-image {
        position: absolute;
        left: 0;
        top: -11px;
    }

    &__author-name {
        color: $title;
        font-weight: 700;
    }

    &__author-position {
        color: #787A80;
        font-size: 14px;
    }

    &__content-decor {
        position: absolute;
        top: 64px;
        left: 105px;
    }

    .slick-arrow {
        position: absolute;
        top: -80px;
        width: 48px;
        height: 48px;
        fill: $title;
        stroke: $title;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .slick-arrow:hover {
        fill: #fff;
        stroke: #fff;
        background-color: $accent;
        width: 48px;
        height: 48px;
    }

    .left-arrow {
        left: -90px;
        top: 150px;
    }

    .right-arrow {
        right: -90px;
        top: 150px;
    }

    .slick-dots {
        li {
            width: 30px;
            height: 3px;
            background-color: #B3B7BC;
        }

        li.slick-active {
            background-color: $text;
        }
    }
}


.blog {
    &__inner {
        padding: 120px 0 180px 0;
        position: relative;

    }

    &__title-box {
        max-width: 400px;
        width: 100%;
        margin-bottom: 60px;
    }

    &__suptitle {
        @extend %title-sup;
        text-align: left;
    }

    &__title {
        @extend %title;
        text-align: left;
    }

    &-page__btn {
        position: absolute;
        right: 0;
        top: 150px;
    }

    &__posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__post {
        max-width: 390px;
        width: 100%;
        margin-bottom: 20px;
    }

    &-post__image-box {
        position: relative;
    }

    &-post__image {
        object-fit: cover;
        width: 390px;
    }

    &-post__image-descr {
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: #fff;
        font-size: 14px;
        border-radius: 4px;
        padding: 1px 8px 1px 28px;
        text-transform: capitalize;
        text-align: center;

        // &::before {
        //     content: "";
        //     width: 12px;
        //     height: 12px;
        //     color: $title;
        //     background-image: url(../images/icons/twitter.svg);
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     position: absolute;
        //     left: 10px;
        //     top: 7px;
        // }        
        svg {
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }

    &-post__descrption-box {
        display: flex;
        font-size: 14px;
        color: #787A80;
        margin-top: 16px;
        margin-bottom: 8px;
        line-height: 18px;
    }

    &-post__category {
        transition: all .3s;
        width: 64px;

        &:hover {
            color: $accent;
            font-weight: 700;
        }
    }

    &-post__descrption-item {
        &+.blog-post__descrption-item {
            margin-left: 12px;
            padding-left: 36px;
            position: relative;

            &::before {
                content: "";
                width: 1px;
                height: 12px;
                position: absolute;
                background-color: #787A80;
                left: 0;
                top: 4px;
            }
        }
    }

    &-post__date::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../images/post-calendar.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: 11px;
        top: 2px;
    }

    &-post__duration::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../images/post-clock.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: 11px;
        top: 2px;
    }

    &-post__title {
        @extend %title-sml;
        transition: all .3s;

        &:hover {
            color: $accent;
        }
    }

    &-post__text {
        margin-bottom: 16px;
    }

    &-post__btn {
        font-weight: 700;
        color: $title;
        padding-right: 30px;
        padding-bottom: 4px;
        position: relative;
        transition: all .3s;
        text-transform: capitalize;

        &:hover {
            color: $accent;
        }

        svg {
            position: absolute;
            top: 2px;
            right: 5px;
        }

    }

}

//courses page

.courses-list {
    &__inner {

        padding-bottom: 120px;
    }

    &__title-box {
        max-width: 440px;
        width: 100%;
        margin: 0 auto;
    }

    &__suptitle {
        @extend %title-sup;
    }

    &__title {
        @extend %title;
        margin-bottom: 60px;
    }

    &__categories {
        margin-bottom: 70px;
        display: flex;

        button {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            font-weight: 700;
            color: #9A9CA5;
            padding: 10px 20px;
            transition: all .2s;
            cursor: pointer;

            &:hover {
                color: $accent;
                border: 1px solid $accent;
            }

            &+button {
                margin-left: 2px;
            }
        }

        input {
            width: 315px;

            padding: 12px 46px 12px 16px;
            font-size: 14px;
            color: #9A9CA5;
            border: 1px solid #D7DADD;
            outline-color: $accent;

        }

    }

    &__search-box {
        width: 315px;
        position: relative;
        margin-left: 95px;


        input:focus-within {

            svg {
                stroke: $accent;
            }
        }

        &:hover {
            svg {
                stroke: $accent;
            }
        }

        label {
            position: absolute;
            right: 15px;
            top: 15px;

        }
    }

    &__content {
        display: grid;
        grid-auto-flow: dense;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 30px;
        padding-bottom: 80px;
    }

    &__content-item {
        max-width: 390px;
        width: 100%;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        border: 1px solid #E5E8ED;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
            transform: scale(1.02);
        }
    }

    &__load-box {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        width: 130px;
        margin: 0 auto;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            svg {
                stroke: $accent;

            }

            .courses-list__link {
                color: $accent;
            }
        }


    }

    &__link {
        font-weight: 700;
        text-align: center;
        display: block;
        margin-left: 20px;
        transition: all .3s;

        &:hover {
            color: $accent;

        }
    }

    .courses__item-box {
        padding: 20px;

    }
}


//course-single page

.course-single {
    &__hero-inner {
        padding: 50px 0 120px 0;
    }

    &__hero-box {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }

    &__hero-suptitle {
        @extend %title-sup;
        color: $accent;
        margin-bottom: 12px;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    &__hero-title {
        @extend %title;

    }
}

.join-course {
    &__inner {
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info-box {
        max-width: 600px;
        width: 100%;
        margin-bottom: 48px;
       

    }

    &__title {
        @extend %title;
        margin-bottom: 40px;
        text-align: left;
    }
    &__text {
        margin-bottom: 48px;
    }

    &__description-box {
        max-width: 495px;
        width: 100%;
        padding: 40px 32px;
        border: 1px solid #E5E8ED;        
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }
    &__description-item {
        padding-bottom: 32px;
    }
    &__description-head {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $title;
        margin-bottom: 4px;
    }
    &__description-line {
        font-size: 24px;
        line-height: 32px;
        color: $accent;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__description-text {
        color: #787A80;
    }
    &__description-btn {
        text-align: center;
    }

    &__list {
        max-width: 600px;
        width: 100%;
        li {
            margin-bottom: 4px;
            padding-left: 32px;
            position: relative;
            &::before {
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                background-image: url(../images/about-icon.png);
                background-size: cover;
                background-repeat: no-repeat;
                left: 0;
                top: 4px;
            }
        }
    }
    &__list-title {
        font-size: 28px;    
        line-height: 42px;
        color: $title;
        font-weight: 700;
        margin-bottom: 24px;
    }
}

@import 'media';